<div id="characters" class="view builder">
  <div class="title">
    <h2>characters</h2>

    <div class="tabs top">
      <div id="tab-characters-detail" class="tab tab-characters">
        item
      </div>
      <div id="tab-characters-master" class="tab tab-characters active">
        list
      </div>
    </div>
  </div>

  <!-- section: master -->

  <div id="characters-master" class="characters section visible">
    <div class="widget">
      <table class="list">
        <thead>
          <tr>
            <td>character class</td>
            <td class="w10">value</td>
            <td class="w30">user</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>soldier</td>
            <td class="rtl">100</td>
            <td>foo</td>
          </tr>
          <tr>
            <td>captain</td>
            <td class="rtl">300</td>
            <td>foo</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="submit-area">
      <div id="new-character" class="widget btn">new</div>
      <div style="clear:both;"></div>
    </div>
  </div>

  <!-- section: detail -->

  <div id="characters-detail" class="characters section">
    <div class="widget">
      <table>
        <tbody>
          <tr>
            <td class="tag">name</td>
            <td><div class="widget input"><input type="text" /></div></td>
          </tr>
          <tr>
            <td class="tag">value</td>
            <td><div class="widget input"><input type="text" /></div></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="widget">
      <table>
        <tbody>
          <tr>
            <td class="tag">action points</td>
            <td><div class="widget input"><input type="text" /></div></td>
          </tr>
          <tr>
            <td class="tag">health</td>
            <td><div class="widget input"><input type="text" /></div></td>
          </tr>
          <tr>
            <td class="tag">accuracy</td>
            <td><div class="widget input"><input type="text" /></div></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="submit-area">
      <div id="submit-character-class" class="widget btn">save</div>
      <div id="delete-character-class" class="widget btn secondary">delete</div>
      <div style="clear:both;"></div>
    </div>
  </div>

</div>
