<div id="leaderboard" class="view builder">
  <div class="title">
    <h2>leaderboard</h2>
  </div>

  <div class="widget">
    <table class="list">
      <thead>
        <tr>
          <td>squad</td>
          <td class="w10">points</td>
          <td class="w30">user</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>foo man choos</td>
          <td class="rtl">12200</td>
          <td>foo</td>
        </tr>
        <tr>
          <td>barbarians</td>
          <td class="rtl">9700</td>
          <td>bar</td>
        </tr>
        <tr>
          <td>fellowship of the ring</td>
          <td class="rtl">4300</td>
          <td>foo</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
