<div id="profile" class="view builder">
  <div class="title">
    <h2>profile</h2>
  </div>
  <div class="widget">
    <table>
      <tbody>
        <tr>
          <td class="tag">password</td>
          <td><div class="widget input"><input type="text" /></div></td>
        </tr>
        <tr>
          <td class="tag">new password</td>
          <td><div class="widget input"><input type="text" /></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="submit-area">
    <div id="change-pwd" class="widget btn">
      change password
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
