<div id="weapons" class="view builder">
  <div class="title">
    <h2>weapons</h2>
  </div>
  <div class="widget">
    <table>
      <tbody>
        <tr>
          <td class="tag">name</td>
          <td><div class="widget input"><input type="text" /></div></td>
        </tr>
        <tr>
          <td class="tag">value</td>
          <td><div class="widget input"><input type="text" /></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="widget">
    <table>
      <tbody>
        <tr>
          <td class="tag">damage</td>
          <td><div class="widget input"><input type="text" /></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="widget">
    <table>
      <tbody>
        <tr>
          <td class="tag">short range</td>
          <td><div class="widget input"><input type="text" /></div></td>
        </tr>
        <tr>
          <td class="tag">medium range</td>
          <td><div class="widget input"><input type="text" /></div></td>
        </tr>
        <tr>
          <td class="tag">long range</td>
          <td><div class="widget input"><input type="text" /></div></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="submit-area">
    <div id="submit-weapon" class="widget btn">
      save
    </div>
    <div style="clear:both;"></div>
  </div>
</div>
