<div id="weapons" class="view builder">
  <div class="title">
    <h2>weapons</h2>

    <div class="tabs top">
      <div id="tab-weapons-detail" class="tab tab-weapons">
        item
      </div>
      <div id="tab-weapons-master" class="tab tab-weapons active">
        list
      </div>
    </div>
  </div>

  <!-- section: detail -->

  <div id="weapons-detail" class="weapons section">
    <form id="weapons-detail-submit">
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">name</td>
              <td>
                <div class="widget input">
                  <input type="text" id="weapons-detail-name" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">value</td>
              <td>
                <div class="widget input">
                  <input type="text" id="weapons-detail-value" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">damage</td>
              <td>
                <div class="widget input">
                  <input type="text" id="weapons-detail-damage" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="submit-area">
        <button type="submit" class="widget btn">save</button>
        <button id="weapons-detail-delete" class="widget btn secondary">
          delete
        </button>
        <div style="clear:both;"></div>
      </div>
    </form>
  </div>

  <!-- section: master -->

  <div id="weapons-master" class="weapons section visible">
    <div class="widget">
      <table class="list">
        <thead>
          <tr>
            <td>class</td>
            <td class="w10">value</td>
            <td class="w10">damage</td>
          </tr>
        </thead>
        <tbody>
          <tr class="weapons-master-item">
            <td class="weapons-master-item-name"></td>
            <td class="weapons-master-item-value rtl"></td>
            <td class="weapons-master-item-damage rtl"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="submit-area">
      <div id="new-weapon" class="widget btn">new</div>
      <div style="clear:both;"></div>
    </div>
  </div>

</div>
