<div id="characters" class="view builder">
  <div class="title">
    <h2>characters</h2>

    <div class="tabs top">
      <div id="tab-characters-detail" class="tab tab-characters">
        new character
      </div>
      <div id="tab-characters-master" class="tab tab-characters active">
        list
      </div>
    </div>
  </div>

  <!-- detail -->

  <div id="characters-detail" class="characters section">
    <form id="characters-detail-submit">
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">name</td>
              <td>
                <div class="widget input">
                  <input type="text" id="characters-detail-name" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">value</td>
              <td>
                <div class="widget input">
                  <input type="text" id="characters-detail-value" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">agility</td>
              <td>
                <div class="widget input">
                  <input type="text" id="characters-detail-agility" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">constitution</td>
              <td>
                <div class="widget input">
                  <input type="text" id="characters-detail-constitution" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">accuracy</td>
              <td>
                <div class="widget input">
                  <input type="text" id="characters-detail-accuracy" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="submit-area">
        <button type="submit" class="widget btn">save</button>
        <button id="characters-detail-delete" class="widget btn secondary hidden">
          delete
        </button>
        <div style="clear:both;"></div>
      </div>
    </form>
  </div>

  <!-- master -->

  <div id="characters-master" class="characters section visible">
    <div class="widget">
      <table class="list">
        <thead>
          <tr>
            <td>character</td>
            <td class="w10">value</td>
            <td class="w10" title="agility">agi</td>
            <td class="w10" title="constitution">con</td>
            <td class="w10" title="accuracy">acc</td>
          </tr>
        </thead>
        <tbody>
          <tr class="characters-master-item">
            <td class="characters-master-item-name"></td>
            <td class="characters-master-item-value rtl"></td>
            <td class="characters-master-item-agility rtl"></td>
            <td class="characters-master-item-constitution rtl"></td>
            <td class="characters-master-item-accuracy rtl"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="submit-area">
      <div id="characters-master-create" class="widget btn">new</div>
      <div style="clear:both;"></div>
    </div>
  </div>

</div>
