<div class="panel side left">

  <!-- shared -->

  <div class="title left">
    <h3>shared<h3>
  </div>

  <div class="tabs left">
    <div id="tab-characters" class="tab tab-view">characters</div>
    <div id="tab-weapons" class="tab tab-view">weapons</div>
    <div id="tab-maps" class="tab tab-view">maps</div>
  </div>

  <!-- user -->

  <div class="title left">
    <h3>user<h3>
  </div>

  <div class="tabs left">
    <div id="tab-soldiers" class="tab tab-view">soldiers</div>
    <div id="tab-squads" class="tab tab-view">squads</div>
  </div>

  <!-- chat -->

  <div class="title left">
    <h3>chat<h3>
  </div>

  <div class="tabs left">
    <div id="tab-chat-foo" class="tab pin">foo</div>
    <div id="tab-chat-bar" class="tab pin">bar</div>
  </div>

  <div style="clear:both"></div>
</div>
