<div class="title main">
  <div class="center">
    <h1>tufo</h1>
    <h3>(odor unknown)</h3>
    <div class="tabs top">
      <div id="tab-rooms" class="tab tab-view">rooms</div>
      <div id="tab-battle" class="tab tab-view">battle</div>
      <div id="tab-notifications" class="tab tab-view">notifications</div>
      <div id="tab-leaderboard" class="tab tab-view">leaderboard</div>
      <div id="tab-login" class="tab tab-view">login</div>
      <div id="tab-profile" class="tab tab-view">profile</div>
    </div>
  </div>
</div>
