.builder {
  padding-top: 20px;
  width: 430px;
  margin: auto;

  .title {
    margin: 10px;

    h2 {
      margin-bottom: 0;
      margin-top: 0;
    }
    
    width: initial;
  }

  .widget.btn {
    padding: 5px 10px;
  }

  .widget.btn.secondary {
    font-size: 0.7em;
  }

  td.tag {
    width: 120px;
    text-align: right;
  }

  td.action {
    padding: 3px 0;
  }

  .submit-area {
    float: right;
    margin-right: 71px;

    .widget {
      margin: 0;
    }
  }

  &.popup {
    padding-top: 0;
  }
}
