body {
  background-color: black;
  margin: 0;
  font-family: sans-serif;
  color: yellow;
}

.title {
  width: 100%;
  border-bottom: 1px solid yellow;
  background-color: black;
}

.title.main {
  position: fixed;
  top: 0;
  z-index: 2;
}

.title h1 {
  display: inline;
  margin-right: 10px;
}

.title h2 {
  display: inline;
}

.title.main > .center {
  width: 800px;
  margin: auto;
}

.title.main h2 {
  font-size: medium;
  font-style: italic;
}

.title .btn-group {
  float: right;
  cursor: default;
}

.btn-group > .tab {
  padding: 5px;
  padding-top: 15px;
  display: inline-block;
}

.btn-group > .tab.current {
  background-color: yellow;
  color: black;
}

.view {
  margin-top: 40px;
  display: none;
}

.view.current {
  display: block;
}

#canvas {
  position: absolute;
  overflow: hidden;
}

.side-panel {
  position: relative;
  width: 218px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.left-panel {
  float: left;
}

.right-panel {
  float: right;
}

.center-panel {
  position: relative;
  width: 800px;
  margin: auto;
}

#battle > .center-panel {
  height: 600px;
}

.widget {
  border: 1px solid yellow;
  border-radius: 5px;
}

.panel-widget {
  margin: 10px;
}

.panel-widget + .panel-widget {
  margin-left: 0;
}

.left-panel > .panel-widget > .panel-widget {
  float: right;
}

.right-panel > .panel-widget > .panel-widget {
  float: left;
}

.panel-widget > .panel-widget {
  width: 50px;
  height: 50px;
}

.panel-widget.input {
  pointer-events: auto;
}
