body {
  background-color: black;
  margin: 0;
  color: yellow;
  font-family: monospace;
  font-size: 1em;
}

table {
  border-collapse: collapse;
  margin: inherit 50px;
  text-align: right;
}

td {
  padding: 3px 10px;
}

.title.main > .center {
  width: 800px;
  margin: auto;
}

.btn-group {
  cursor: default;
}

.title .btn-group {
  float: right;
}

#canvas {
  position: absolute;
  overflow: hidden;
}

.side-panel {
  position: relative;
  width: 218px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.left-panel {
  float: left;
}

.right-panel {
  float: right;
}

.center-panel {
  position: relative;
  width: 800px;
  margin: auto;
}

#battle > .center-panel {
  height: 600px;
}

.widget {
  border: 1px solid yellow;
  border-radius: 5px;
}

.panel-widget {
  margin: 10px;
}

.panel-widget + .panel-widget {
  margin-left: 0;
}

.left-panel > .panel-widget > .panel-widget {
  float: right;
}

.right-panel > .panel-widget > .panel-widget {
  float: left;
}

.panel-widget > .panel-widget {
  width: 50px;
  height: 50px;
}

.panel-widget.input {
  pointer-events: auto;
}
