.title {
  padding: 0;
  margin: 10px;
  border-bottom: 1px solid yellow;
  background-color: transparent;
  font-family: 'Nimbus Mono L', monospace;
  height: 40px;

  &.left {
    margin: 0;
    margin-left: 76px;
    overflow: hidden;
    width: 131px;
    border-right: 1px solid yellow;

    & h3 {
      width: 100%;
      padding-left: 10px;
    }
  }
  
  h1, h2, h3 {
    margin: 0;
    display: inline-block;

    & + & {
      margin-left: 10px;
    }
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    padding-top: 10px;
  }

  h3 {
    font-size: 1em;
    padding-top: 15px;
  }

  &.main {
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 3;
  }

  .popup & {
    height: 30px;

    & h2 {
      padding-top: 0;
    }
  }
}
