<div id="soldiers" class="view builder">
  <div class="title">
    <h2>soldiers</h2>

    <div class="tabs top">
      <div id="tab-soldiers-detail" class="tab tab-soldiers">
        new soldier
      </div>
      <div id="tab-soldiers-master" class="tab tab-soldiers active">
        list
      </div>
    </div>
  </div>

  <!--  detail -->

  <div id="soldiers-detail" class="soldiers section">
    <form id="soldiers-detail-submit">
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">name</td>
              <td>
                <div class="widget input">
                  <input type="text" id="soldiers-detail-name" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">value</td>
              <td>
                <div class="widget input readonly">
                  <input type="text" readonly id="soldiers-detail-value" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">character</td>
              <td>
                <div class="widget input">
                  <input type="text" id="soldiers-detail-character" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">weapon</td>
              <td>
                <div class="widget input">
                  <input type="text" id="soldiers-detail-weapon" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="submit-area">
        <button type="submit" class="widget btn">save</button>
        <button id="soldiers-detail-delete" class="widget btn secondary hidden">
          delete
        </button>
        <div style="clear:both;"></div>
      </div>
    </form>
  </div>

  <!-- master -->

  <div id="soldiers-master" class="soldiers section visible">
    <div class="widget">
      <table class="list">
        <thead>
          <tr>
            <td>soldier</td>
            <td class="w10">value</td>
            <td class="w10">character</td>
            <td class="w10">weapon</td>
          </tr>
        </thead>
        <tbody>
          <tr class="soldiers-master-item">
            <td class="soldiers-master-item-name"></td>
            <td class="soldiers-master-item-value rtl"></td>
            <td class="soldiers-master-item-character"></td>
            <td class="soldiers-master-item-weapon"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="submit-area">
      <div id="soldiers-master-create" class="widget btn">new</div>
      <div style="clear:both;"></div>
    </div>
  </div>

</div>
