<!DOCTYPE html>
<html>
  <head>
    <!-- styles --><% styles.forEach(function (file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- scripts --><% scripts.forEach(function (file) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>

  <body>
    <div class="title main">
      <div class="center">
        <h1>tufo</h1>
        <h2>(odor unknown)</h2>
        <div class="btn-group tabs top">
          <div id="tab-battle" class="tab view-tab">battle</div>
          <div id="tab-notifications" class="tab pin">notifications</div>
          <div id="tab-leatherboard" class="tab view-tab">leatherboard</div>
          <div id="tab-login" class="tab view-tab">login</div>
          <div id="tab-profile" class="tab view-tab">profile</div>
        </div>
      </div>
    </div>

    <div class="panel side left">
      <div class="tabs left">
        <div id="tab-character" class="tab view-tab">character</div>
        <div id="tab-weapon" class="tab view-tab">weapon</div>
        <div id="tab-soldier" class="tab view-tab">soldier</div>
        <div id="tab-squad" class="tab view-tab">squad</div>
        <div id="tab-rooms" class="tab view-tab">rooms</div>
      </div>
    </div>

    <div class="panel side right">
      <div id="panel-battle" class="view-panel">
        <div class="widget">
          <div id="turn" class="widget input"></div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </div>

    <div class="panel center">

      <!-- home view -->
      <div id="home" class="view builder visible">
        <div class="title">
          <h2>welcome</h2>
        </div>
        <div class="widget">
          <p>
            choose your soldiers, create your squads, fight!
          </p>
        </div>
      </div>

      <!-- battle view -->
      <div id="battle" class="view">
        <div id="canvas"></div>
      </div>

      <!-- character builder view -->
      <div id="character" class="view builder">
        <div class="title">
          <h2>character class</h2>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">name</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">value</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">action points</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">health</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">accuracy</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="submit-area">
          <div id="submit-character-class" class="widget btn">save</div>
          <div style="clear:both;"></div>
        </div>
      </div>

      <!-- weapon builder view -->
      <div id="weapon" class="view builder">
        <div class="title">
          <h2>weapon</h2>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">name</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">value</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">damage</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">short range</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">medium range</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">long range</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="submit-area">
          <div id="submit-weapon" class="widget btn">
            save
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>

      <!-- soldier builder view -->
      <div id="soldier" class="view builder">
        <div class="title">
          <h2>soldier</h2>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">name</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">value</td>
                <td>
                  <div class="widget input readonly">
                    <input type="text" readonly />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">character class</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">weapon</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="submit-area">
          <div id="submit-soldier" class="widget btn">
            save
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>

      <!-- squad builder view -->
      <div id="squad" class="view builder">
        <div class="title">
          <h2>squad</h2>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">name</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">value</td>
                <td>
                  <div class="widget input readonly">
                    <input type="text" readonly />
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="soldiers" class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">soldier</td>
                <td><div class="widget input"><input type="text" /></div></td>
                <td class="action">
                  <div id="remove-soldier-0" class="widget btn">x</div>
                </td>
              </tr>
              <tr>
                <td class="tag"></td>
                <td></td>
                <td class="action">
                  <div id="add-soldier" class="widget btn">+</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="submit-area">
          <div id="submit-soldier" class="widget btn">
            save
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>

      <!-- rooms view -->
      <div id="rooms" class="view builder">
        <div class="title">
          <h2>rooms</h2>
        </div>
        <div class="widget">
          <ul>
            <li><div id="room-0">leo</div></li>
            <li><div id="room-1">toni</div></li>
            <li><div id="room-2">pau</div></li>
          </ul>
        </div>
        <div class="submit-area">
          <div id="create-room" class="widget btn">
            create room
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>

      <!-- login/signup view -->
      <div id="login" class="view builder">
        <div class="title">
          <h2>login</h2>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">user</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">password</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="submit-area" >
          <div id="login" class="widget btn">login</div>
          <div id="forgot-password" class="widget btn secondary">
            forgot password
          </div>
        </div>
        <div class="title">
          <h2>signup</h2>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">email</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="submit-area">
          <div id="signup" class="widget btn">signup</div>
        </div>
      </div>

      <!-- profile view -->
      <div id="profile" class="view builder">
        <div class="title">
          <h2>profile</h2>
        </div>
        <div class="widget">
          <table>
            <tbody>
              <tr>
                <td class="tag">password</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
              <tr>
                <td class="tag">new password</td>
                <td><div class="widget input"><input type="text" /></div></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="submit-area">
          <div id="change-pwd" class="widget btn">
            change password
          </div>
          <div style="clear:both;"></div>
        </div>
      </div>

      <!-- notifications popup -->
      <div id="notifications" class="popup builder">
        <div class="widget">
          <table>
            <tr>
              <td>
                <div class="widget input">
                  <div style="width: 48px; height: 48px;"></div>
                </div>
              </td>
              <td>
                <p>
                  Lorem ipsum dolor sit amet.
                  Lorem ipsum dolor sit amet.
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </body>
</html>
