<div id="login" class="view builder">

  <!-- login: title with tabs -->
  <div class="title">
    <h2>login</h2>

    <div class="tabs top">
      <div id="tab-login-forgot-password" class="tab tab-login">
        forgot password
      </div>
      <div id="tab-login-signup" class="tab tab-login">
        signup
      </div>
      <div id="tab-login-login" class="tab tab-login active">
        login
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>

  <!-- login: login -->
  <div id="login-login" class="login section visible">
    <form id="login-login-submit">
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">email</td>
              <td>
                <div class="widget input">
                  <input type="text" id="login-login-email" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">password</td>
              <td>
                <div class="widget input">
                  <input type="password" id="login-login-password" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="submit-area">
        <button type="submit" class="widget btn">login</button>
      </div>
    </form>
  </div>

  <!-- login: signup -->
  <div id="login-signup" class="login section">
    <form id="login-signup-submit">
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">user</td>
              <td>
                <div class="widget input">
                  <input type="text" id="login-signup-user" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">password</td>
              <td>
                <div class="widget input">
                  <input type="password" id="login-signup-password" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">email</td>
              <td>
                <div class="widget input">
                  <input type="text" id="login-signup-email" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="submit-area">
        <button type="submit" class="widget btn">signup</button>
      </div>
    </form>
  </div>

  <!-- login: forgot password -->
  <div id="login-forgot-password" class="login section">
    <form id="login-forgot-password-submit">
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">user</td>
              <td>
                <div class="widget input">
                  <input type="text" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="submit-area">
        <button type="submit" class="widget btn">reset password</button>
      </div>
    </form>
  </div>

</div>
