<div id="squads" class="view builder">
  <div class="title">
    <h2>squads</h2>

    <div class="tabs top">
      <div id="tab-squads-detail" class="tab tab-squads">
        new squad
      </div>
      <div id="tab-squads-master" class="tab tab-squads active">
        list
      </div>
    </div>
  </div>

  <!-- detail -->

  <div id="squads-detail" class="squads section">
    <form id="squads-detail-submit">
      <div class="widget">
        <table>
          <tbody>
            <tr>
              <td class="tag">name</td>
              <td>
                <div class="widget input">
                  <input type="text" id="squads-detail-name" />
                </div>
              </td>
            </tr>
            <tr>
              <td class="tag">value</td>
              <td>
                <div class="widget input readonly">
                  <input type="text" readonly id="squads-detail-value" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="squads" class="widget">
        <table>
          <tbody>
            <tr class="squads-detail-soldier">
              <td class="tag">soldier</td>
              <td>
                <div class="widget input">
                  <input type="text" class="squads-detail-soldier-name" />
                </div>
              </td>
              <td class="action">
                <button class="squads-detail-remove-soldier widget btn">
                  x
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="tag"></td>
              <td></td>
              <td class="action">
                <button id="squads-detail-add-soldier" class="widget btn">
                  +
                </button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="submit-area">
        <button type="submit" class="widget btn">save</button>
        <button id="squads-detail-delete" class="widget btn secondary hidden">
          delete
        </button>
        <div style="clear:both;"></div>
      </div>
    </form>
  </div>

  <!-- master -->

  <div id="squads-master" class="squads section visible">
    <div class="widget">
      <table class="list">
        <thead>
          <tr>
            <td>squad</td>
            <td class="w10">value</td>
            <td class="w10">soldiers</td>
          </tr>
        </thead>
        <tbody>
          <tr class="squads-master-item">
            <td class="squads-master-item-name"></td>
            <td class="squads-master-item-value rtl"></td>
            <td class="squads-master-item-soldiers rtl"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="submit-area">
      <div id="squads-master-create" class="widget btn">new</div>
      <div style="clear:both;"></div>
    </div>
  </div>

</div>
