<div class="panel center">

  include "views/home/home.html"
  include "views/login/login.html"
  include "views/leaderboard/leaderboard.html"
  include "views/profile/profile.html"
  include "views/notifications/notifications.html"
  include "views/rooms/rooms.html"
  include "views/battle/battle.html"

  include "views/profile/characters/characters.html"
  include "views/profile/weapons/weapons.html"
  include "views/profile/maps/maps.html"
  include "views/profile/soldiers/soldiers.html"
  include "views/profile/squads/squads.html"

  include "views/popups.html"

</div>
